//! **************************************************************************
// Written by: Map P.20131013 on Mon Apr 11 17:19:43 2016
//! **************************************************************************

SCHEMATIC START;
COMP "blu" LOCATE = SITE "P48" LEVEL 1;
COMP "hs" LOCATE = SITE "P41" LEVEL 1;
COMP "grn" LOCATE = SITE "P47" LEVEL 1;
COMP "vs" LOCATE = SITE "P40" LEVEL 1;
COMP "red" LOCATE = SITE "P49" LEVEL 1;
COMP "clock" LOCATE = SITE "P36" LEVEL 1;
SCHEMATIC END;

