//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 20 16:24:16 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clock" LOCATE = SITE "P36" LEVEL 1;
COMP "H" LOCATE = SITE "P41" LEVEL 1;
COMP "V" LOCATE = SITE "P40" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

